/*
Title:Bootstrap with Slider
Author:Dnaynesh
---------------------------
Table Of content
1.Header
2.Slider

*/
/*------------body Start--------------*/



#errormsg, #emailerrormsg, #suberrormsg, #msgerrormsg, #numbererrormsg{
	color:red;	
}
